{
  "root": true,
  "plugins": ["prettier"],
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "node": true
  },
  "rules": {
    "prettier/prettier": 1,
    "no-console": 0
  }
}
